<!DOCTYPE html>
<html>
  <head>
    <title>QuestionSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="main-back">
    <div class="main">
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>

      <p class="form-title">
        <strong>Title:</strong>
        <%= @question.title %>
      </p>

      <p class="form-description">
        <strong>Description:</strong>
        <%= @question.description %>
      </p>

      <% if @question.markdown %>
        <p class="form-description">
          <%= markdown(@question.markdown) %>
        </p>
      <% end %>
      <div class="question-link"><%= link_to "Edit Question", edit_question_path(@question) %></div>

      <div class="question-link"><%= link_to "Delete Question", question_path(@question), method: :delete %></div>

      <p class="answers-title">Answer this question:</p>

      <%= form_for [@question, @answer] do |f| %>

        <% if @answer.errors.any? %>
          <div id="error_explanation">
            <h2 class="notice"><%= pluralize(@answer.errors.count, "error") %> prohibited this article from being saved:</h2>

            <ul class="notice-list">
            <% @answer.errors.full_messages.each do |msg| %>
              <li class="notice"><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="control-group">
          <%= f.label :body %>
          <div class="controls">
            <%= f.text_area :body %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :markdown %>
          <div class="controls">
            <%= f.text_area :markdown %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.submit 'Submit Answer', class: 'btn btn-primary' %>
        </div>
      <% end %>

        <p class="answers-title"><strong>Answers:</strong></p>
          <ul class="answers-list">
            <% @answers.each do |answer| %>
              <li class="form-description" >
                <%= answer.body %>
                  <div>
                    <%= link_to "Mark as best answer", edit_question_answer_path(@question, answer), class: "button" %>
                  </div>
              </li>
              <% if answer.markdown %>
                <li class="form-description"><%= markdown(answer.markdown) %></li>
              <% end %>
            <% end %>
          </ul>

    </div>
  </div>
  </body>
</html>
