<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>

<% if @question.markdown %>
  <p>
    <%= markdown(@question.markdown) %>
  </p>
<% end %>

<%= form_for [@question, @answer] do |f| %>

  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :body %>
    <div class="controls">
      <%= f.text_field :body %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :markdown %>
    <div class="controls">
      <%= f.text_field :markdown %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Submit Answer', class: 'btn btn-primary' %>
  </div>
<% end %>

<p>
  <strong>Answers:</strong>
    <ul>
      <% @answers.each do |answer| %>
        <li>
          <%= answer.body %>
            <div>
              <%= link_to "Mark as best answer", edit_question_answer_path(@question, answer), class: "button", id: answer.id %>
            </div>
        </li>
        <% if answer.markdown %>
          <li><%= markdown(answer.markdown) %></li>
        <% end %>
      <% end %>
    </ul>
</p>

<div><%= link_to "Edit Question", edit_question_path(@question) %></div>

<div><%= button_to "Delete Question", {controller: "questions", action: "destroy"}, :method => "delete" %></div>
