<%= form_for (question) do |f| %>

  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2 class="notice"><%= pluralize(@question.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul class="notice-list">
      <% @question.errors.full_messages.each do |msg| %>
        <li class="notice"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="control-group">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="field">
    <div class="control-group">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="field">
    <div class="control-group">
      <%= f.label :markdown %><br />
      <%= f.text_field :markdown %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
