<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>

<%= form_for [@question, @answer] do |f| %>

  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :body %>
    <div class="controls">
      <%= f.text_field :body %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Submit Answer', class: 'btn btn-primary' %>
  </div>
<% end %>
